.App {
  /* text-align: center; */
}

.header-container {
  box-shadow: 0px 2px 5px #cccccc;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: blue;
  color: white;
  border: 0px;
  border-radius: 100px;
  min-width: 100px;
  font-size: medium;
  font-weight: bold;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  max-height: 50px;
}

.user-info-container {
  padding: 24px;
  display: flex;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 24px;
}

input {
  padding: 8px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  margin: 4px;
}

.has-balance-container {
  padding: 24px;
  /* width: 100px;
  height: 100px; */
  /* border: 2px solid red; */
}

.third-party-container {
  padding: 24px;
}

.transfer-container {
  padding: 24px;
}

.warning-container {
  border: 2px solid blue;
  padding: 8px;
  border-radius: 10px;
  background-color: #696ff0;
  color: white;
  font-weight: bold;
}
